<div class="container">
  <h2>Part 1 - Card Component</h2>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1513904178077-6c5730ddd446?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=290&q=80" alt="Card image" style="width:100%">
    <div class="card-body">
      <h2 class="card-title">Beach Day</h2>
      <p class="card-desc">Rufus the Dog</p>
      <div class="publish-txt">Modified 02/28/2019 by bfrost</div>
    </div>
  </div>
  <br>

  <h2>Part 2 - Form Elements</h2>
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter name">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter Email">

    <label for="phone">Phone number</label>
    <input type="text" id="phone" name="phone" placeholder="Enter Phone number">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Enter Password">

    <label for="cpassword">Confirm Password</label>
    <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password">
  
    <input type="submit" value="Save">
  </form>

  <!--Call Table Componet-->
<app-table></app-table>
 </div>